<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>보드</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/menu.css}">
</head>
<body>
	<th:block th:insert="~{/menu.html :: menu}"></th:block>
	<h1>게시판 목록</h1>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성일</th>
			<th>작성자</th>
		</tr>
		<tr th:each="row : ${ list}">
			<td th:text="${row.bno}"></td>
			<td th:onclick="|location.href='@{./detail(bno=${row.bno})}'|" th:text="${row.title}"></td>
			<td th:text="${row.bdate}"></td>
			<td th:text="${row.member.mname}"></td>
		</tr>
	</table>
	<button th:onclick="|location.href='@{/write}'|">글쓰기</button>
</body>
</html>